.products {
    margin-top: 20px;
    height: auto;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.products::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../../../../public/img/minecraft-grass-tree-desktop-wallpaper.jpg');
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}

.products h2 {
    color: white;
    position: relative;
    z-index: 2;
}

.plan-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;  
    overflow: hidden; 
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 5%;
    height: auto;
    position: relative;
    z-index: 2;
}

.PlansImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

.products article {
    text-align: center; /* Alinea el texto horizontalmente al centro */
    font-size: 50px; /* Tamaño de fuente */
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding-top: 2%; /* Espacio superior */
    padding-bottom: 2%;
    color: rgb(0, 0, 0); /* Color de texto blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado */
}

/* Media Queries */
@media (max-width: 1200px) {
    .products {
        height: 200vh;
    }

    .products article {
        font-size: 30px;
        margin-bottom: -4%;
        padding-top: 10%;
    }

    .plan-list {
        height: auto;
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas extra pequeñas */
        gap: 10px; /* Reducir el gap para mejor ajuste */
    }
}

@media (max-width: 992px) {
    .products {
        height: 200vh;
    }

    .products article {
        font-size: 30px;
        margin-bottom: -4%;
        padding-top: 10%;
    }

    .plan-list {
        height: auto;
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas extra pequeñas */
        gap: 10px; /* Reducir el gap para mejor ajuste */
    }
}

@media (max-width: 768px) {
    .products {
        height: 200vh;
    }

    .products article {
        font-size: 30px;
        margin-bottom: -4%;
        padding-top: 10%;
    }

    .plan-list {
        height: auto;
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas extra pequeñas */
        gap: 10px; /* Reducir el gap para mejor ajuste */
    }
}

@media (max-width: 576px) {
    .products {
        height: 200vh;
    }

    .products article {
        font-size: 30px;
        margin-bottom: -4%;
        padding-top: 10%;
    }

    .plan-list {
        height: auto;
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas extra pequeñas */
        gap: 10px; /* Reducir el gap para mejor ajuste */
    }
}

